<p>leer works!</p>
<div class="general">
  <div class="row">
    <div class="input-group">
      <label>First name </label>
      <input type="text" placholder="Enter your first name" />
    </div>
    <div class="input-group">
      <label>Last name</label>
      <input type="text" placholder="Enter your last name" />
    </div>
  </div>
  <div class="row">
    <div class="input-group">
      <label>First name </label>
      <input type="text" placholder="Enter your first name" />
    </div>
    <div class="input-group">
      <label>Last name</label>
      <input type="text" placholder="Enter your last name" />
    </div>
    <div class="input-group">
      <label>Last name</label>
      <input type="text" placholder="Enter your last name" />
    </div>
  </div>
</div>
